body{

    font-family: 'Yellowtail', cursive , Verdana;
    color:#1c1c1c;

}
/* estas configurações que estão abaixo já mantém os itens ao centro e sempre que o conteúdo for lido em
dispositivos com tela pequena , os itens ficarão centralizados , ou seja , há uma responsividade padrão, devido ao uso 
display:flex;
flex-direction: column;
align-items: center;
text-align:center;

*/
h1,h2,h3{


    color:#000000;
}

nav{

display:flex;
flex-direction: column;
align-items: center;
background-color: #191970;


}
nav a {
text-decoration: none;
color:#FFFFFF;
font-weight: 800;
font-size: 32px;


}
nav ul{

    display:flex;
    flex-direction: column;
    align-items: center;
  list-style: none;
  padding:0;
  width:100%;
    


}
nav li{

text-align: center;
    width:100%;
    
   

}

nav ul li a {

display:inline-block;
padding:10px 0;
width:100%;
text-decoration: none;
color: #FFFFFF;



}

header{


    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/camera.jpg');/*  cobre com uma imgem especificada pelo caminho*/
    background-size: cover;/*  cobre todo o corpo da tag*/
    background-repeat: no-repeat;/*  cobre todo o corpo com a imagem única*/
    background-position: center;
    padding:20px;
    color:#FFFFFF;
    text-align: center;
 
}

header h1{
color:#FFFFFF;

}
header p{
margin-bottom: 2em;/*dinamico apartir da posição que iniciar*/


}

#sobre{
    display:flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    padding:10px 10px 20px 20px;
    background-color: #191970;
    color:#FFFFFF;


}
#sobre h2{

    color:#FFFFFF;
}



#sobre p {

margin-bottom: 2.5em;
max-width: 1000px;

}

.botao{

color:#FFFFFF;
text-decoration: none;
padding: 10px 10px;
background-color: #191970;
font-size: .9em;
border-radius: 3px;

}
#sobre .botao{

    background-color: #f1f1f1;
    color: #1c1c1c;
}


#servicos{

    display:flex;
    flex-direction: column;
    align-items: center;
padding:30px;
text-align: center;


}
#servicos div{

    margin-top: 30px;
    


}
#servicos div img{

width:100px;
height:100px;

}
#servicos div p{
max-width: 800px;

}

#fotos{

    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:20px;

}

#fotos h2{
margin-bottom: 20px;
}

#fotos img{

width:100%;

}
#contato{

    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:20px;

}

#contato a {

text-decoration: none;

}
#footer{

text-align: center;
padding:20px;
background-color: #191970;
color:#FFFFFF;

}

#footer a {
text-decoration: none;
color:#FFFFFF;


}

@media screen and (min-width:768px){


header{

    height:600px;
    height:60vh;/*amanho automático */
    justify-content: center;



}
#sobre{

height: 250px;

height:30vh;
min-height: 250px
;

}


#servicos{
flex-direction: row;
flex-wrap: wrap;/*quebra linha automaticamente*/
align-items: flex-start;
max-width: 1000px;
margin: 0 auto;

}

#servicos h2{


    text-align: center;
    width:100%;

}
#servicos div{
flex-grow:1;
flex-basis:150px;
padding:0 10px;


}
#fotos{
flex-direction:row;
flex-wrap: wrap;

}
#fotos h2{
width:100%;
text-align: center;

}


#fotos img{

    width:33.3333333%;
}

#contato{

flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
margin:0 auto;
max-width: 500px;

}

#contato p{

width:100%;

}  
}